html, body {
line-height:24px;
font-size:16px;
font-size:medium;
color:#fff; 
background-color: #004;
padding: 8px 36px 0px 36px;
margin: 0px;
}

a {
text-decoration: none;
border: 1px solid #004;
background-color:#004;
color: #eee;
padding:0px 4px 0px 4px;
}

a:hover, a:active, a:focus, a:hover { 
 text-decoration: none;
 color: #fff; 
 background-color:#339;
 border: 1px solid #ccc;
}

a[target]:after {
 content:"◥ ";
 color:#aaa;
} 
textarea {width:99%;padding: 0px;margin: 0px;font:12px 'Courier New',monospace;}
.small {font-size:medium;}
.center {text-align:center;}
.inline {display:inline;}
.border {border: 1px solid #88a;}
.gelb {color: #ffc;background-color:#004;}
.p3 {padding:3px;}
.p6 {padding:6px;}
.m3 {margin:3px;}